
.hg/
binaries/
deriveddatacache/
.vs/
build/
!Build/Android/*
![Bb]uilds/Android/*
[Bb]uilds/
![Bb]uild/Android/*
[Bb]uild/Android/src/com/threetglobal
intermediate/
PACKPLUGIN/
COMPPLUGIN/
saved/
*.orig
*.sln
*.xlsx
